<div class="header">
<ul class="navbar">

<li class="nav-item">
    <a class="nav-link" href="/">home</a>
</li>


<li class="nav-item">
    <a class="nav-link" href="/about">about</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/gallery">gallery</a>
</li>


<li class="nav-item">
    <a class="nav-link" href="/contact">contact</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/weather">weather</a>
</li>



<li class="nav-item">

    <a class="nav-link" href="#">{{channelname}}</a>
</li>


</ul>
</div>